body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;

}

ul,
li,
p,
div {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
button{
    display: flex;
    padding: 0px 20px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    border-radius: 40px;
    font-size: 10px;
    color: #E6E4FF;
    background-color: #5445E9;
}



.header{
    width: 100%;
    height: 230px;
    display:block;
    padding: auto;
    background-color: #E6E4FF;
    .title_text{
        text-align: center;
        font-size: 86px;
        line-height: 230px;
        color: black;
    }
}
.page-w{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 110px;

    .profile{
        display: flex;
        justify-content: center;
        width: 960px;
        height: 400px;
        margin: auto;
        gap: 50px;
        .profile_info{
            width: 230px;
            height: 310px;
            display: inline-block;
            text-align: center;
            border: 2px solid #E6E4FF;
            border-radius: 20px;
            padding: 20px 25px 20px 25px;
            
            .photo{
                border-radius: 13px;
                }
            .name{
                font-size: 20px;
                font-weight: 700;
                margin-top: 36px;
                margin-bottom: 8px;
            }
            .account{
                font-size: 14px;
                font-weight: 400;
                color: gray;
            }
        }
        .rigtt-w{
            width: 600px;
            display: flex;
            flex-direction: column;
            .career{
                .Career_List{
                    width: 100%;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    .company_item{
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                        height: 16px;
                        font-size: 16px;
                        color: gray;
                        border-bottom: 1px solid #E6E4FF;
                        padding: 4px 20px 4px 20px;
                        .year{
                            width: 100px;
                            text-align: right;
                        }
                        .company_name{
                            width: 240px;
                            text-align: left;    
                        }
                    }
                }
            }
            .skill_wrap{
                display: flex;
                justify-content: center;
                width: 604px;
                height: 186px;
                padding: 10px;
                gap: 10px;
                flex-wrap: wrap;
                .skill_img{
                    object-fit: cover;
                    overflow: clip;
                    .thumb{
                        width: 64px;
                        height:64px;
                    }
                }
            }            
        }
    
    }
    .project{
        width: 960px;
        display: block;
        .filter{
            display: flex;
            width: 960px;
            height: 95px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 10px;
            flex-shrink: 0;
            flex-wrap: wrap;
            .tag_item{
                display: flex;
                padding: 6px 20px;
                gap: 10px;
                border-radius: 40px;
                background: #5445E9;
                color: #E6E4FF;
            }
        }
        .pj_w{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 1108px;
            row-gap: 55px;
            .pj_info{
                display: flex;
                width: 280px;
                height: 360px;
                padding: 30px 20px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                border: 1px solid #E6E4FF;
                border-radius: 20px;
                background: #FFF;
                margin-left: 20px;
            }
        }
        
    }
}
